// Place all the styles related to the jobs/build controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.build {
.avatar {
  border: 1px solid #eeeeee;
  border-radius: 2px;}

.invite-btn {
	background-color: #9bca4a;
	border-radius: 5px;
  }
}

