<div class="container" style='margin-top:130px'>
  <div class = 'col-lg-6'>
    <div class='well' style='background-color: #ebebeb'><!--well内只能有一个层次的row-->
      <div class = 'row' style='margin:20px;background-color:#ffffff'>
	      <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

