<nav class= 'navbar-fixed-bottom' style='background-color:#75a8f8' >
    
      <div class='col-xs-3 text-center' style='height:40px;padding-top:9px;background-color:#75a8f8;border-right:1px solid white'>
        <%= link_to "收藏", save_job_path(id:@job.id),method: :post,style:'color:white' %>
      </div>
      <div class='col-xs-3 text-center' style='height:40px;padding-top:9px;background-color:#75a8f8;border-right:1px solid white'>
        <%= render "jobs/mobile/modal_job.mobile.erb" %>
      </div>

      <div class='col-xs-6 text-center' style='padding-top:9px;height:40px;font-color:white;background-color:#f27a31'>     
        <a href="tel:<%= @forwarder.mobile unless @forwarder == nil %>">联系猎头</a>
      </div>
    
  </nav>
