  <div class='well col-md-6'>

  	  <div class="col-md-12">
	    <div class='col-md-12' style='padding:0px;margin:0px;'> 
	      <!-- Nav tabs -->
  			<ul class="nav " style='margin:0px' role="tablist">
			  <li role="presentation" style='float:left' ><a style='padding-left:0px' href="#finished" aria-controls="messages" role="tab" data-toggle="tab">1028个职位</a></li>
  			  <li role="presentation" style='float:right' ><a href="#finished" aria-controls="messages" role="tab" data-toggle="tab">Finished</a></li>
  			  <li role="presentation" style='float:right' ><a style='padding-left:0px;padding-right:0px;' href="#profile" aria-controls="profile" role="tab" data-toggle="tab			">l</a></li>
  			  <li role="presentation" style='float:right' ><a href="#pending" aria-controls="profile" role="tab" data-toggle="tab">Pending</a></li>
  			  <li role="presentation" style='float:right' ><a style='padding-left:0px;padding-right:0px;' href="#profile" aria-controls="profile" role="tab" data-toggle="tab			">l</a></li>
  			  <li role="presentation" style='float:right' ><a href="#active" aria-controls="home" role="tab" data-toggle="tab">Active</a></li>
  			  
  			  
  			  
			
  			</ul>
	    </div>

	    <!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="">
			  <%= render 'jobs/job_list' %>
			</div>
		  <div role="tabpanel" class="tab-pane" id="active">
		    <%= render 'jobs/active_job_list' %>
		  </div>
		  <div role="tabpanel" class="tab-pane" id="pending">
		    <%= render 'jobs/pending_job_list' %></div>
		  <div role="tabpanel" class="tab-pane" id="finished">
		    <%= render 'jobs/finished_job_list' %></div>

		</div>
	  </div>




    
  </div><!-- end col-lg-6-->
