  <!--会根据用户点击替换成相应的内容-->
  <div id='job' >
      <div class='container-mobile' style='padding-top:40px'>
        <div>
          <%= render "job_content.mobile.erb" %>
        </div>
      </div>
      <div class='row' style='height:12px;background-color:#f7f7f7;border:1px solid #eeeeee'>
      </div>
      <div class='container-mobile' style='margin-bottom:50px'>
        <div id='jd'>
          <%= render "jd.mobile.erb" %>
        </div>
      </div>
      <div>
        <%= render "content_bottom.mobile.erb" %>
      </div>
  </div>
