<div>
  <% @job.subordinates.each do |f| %>
    <div id="sub_<%= f.id %>">
	<div class='col-md-6'>
		<%= f.title %>
	</div>
	<div class='col-md-6'>
		<%= link_to '删除',job_subordinate_path(job_id:@job.id,id:f.id), method: :delete, remote:true %> 
	</div>
     </div>
  <% end %>
</div>

