<div class='col-lg-10'>
  <div style='margin-top:0px' class='row pull-right'>
	  <%= form_tag my_line_items_path,method: :get,remote:true do %>
  	  <%= text_field_tag :my_query,nil, style:"height:30px",class: 'form-control' %><!--class至少要放到第三个参数-->
		<%= submit_tag "",style:'display:none'  %>
	<% end %>
  </div>
  <br>
  <br>
  <div class='row' id='my_line_items_list'>
	  <%= render 'my_line_items_list' %>
  </div>
</div>

