<% @user ||= current_user %>
<div class="stats">
  <table>
    <tr>
      <td style='padding-right:10px'>
	<a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
		  <i><%= @user.followings.count %></i>
          </strong>
    	  <p>关注</p>
  	</a>
      </td>
      <td>
        <a href="<%= followers_user_path(@user) %>">
    	  <strong id="followers" class="stat">
		  <i><%= @user.followers.count %></i>
          </strong>
    	  <p>粉丝</p>
  	</a>
      </td>
    </tr>
  </table>
</div>
