<div align='center' >
  <table width="582px" style='border-collapse: collapse;'>
    <tr>
      <td><%= link_to image_tag("http://www.lieleme.com/assets/logo_red.png"),"http://www.lieleme.com" %></td>
    </tr>
    <tr style=''>
      <td colspan="2" style='padding:0px'><%= link_to image_tag("http://www.lieleme.com/assets/Ruby_poster.jpg"), "http://www.lieleme.com", target:"_blank" %></td>
    </tr>
    <tr style=''>
	<td width='359px' style='vertical-align:top;font-size:12px;background-color:#f1ecec;padding:10px 10px 10px 10px'>
	  <p><b>扫一扫微信,向业务经理了解更多详情</b></p>
	  <p>猎了么是一个互联网(+)猎头公司。依托大数据我们成功开展了猎头云端招聘合作,为企业第一时间募集合适的ruby人才。</p>
	  <p>如有任何问题,请咨询0086 - 139 163 82071 George或Email至george.qiao@lieleme.com</p>
  	</td>
	<td align='center' style='background-color:#f1ecec;'>
		<%= image_tag("http://www.lieleme.com/assets/george_weixin.png", size:"100x100") %> 
	</td>
    </tr>
    <tr style=''>
	<td colspan='2' style='background-color:#d2caca;padding:20px'>
		Copyright © 2014-2015 Lieleme Corporation. All rights reserved.
 	</td>
    </tr>
  </table>
</div>
