<div align='center' >
  <table width="582px" style='border-collapse: collapse;'>
    <tr>
      <td><%= link_to image_tag("http://www.lieleme.com/assets/logo_red.png"),"http://www.lieleme.com" %></td>
    </tr>
    <tr style=''>
      <td colspan="2" style='padding:0px'><%= link_to image_tag("http://www.lieleme.com/assets/Ruby_poster.jpg"), "http://www.lieleme.com", target:"_blank" %></td>
    </tr>
    <tr style=''>
	<td style='font-size:12px;background-color:#f1ecec;padding:20px'>
	  <b>猎了么是一个互联网(+)猎头公司。依托大数据我们成功开展了猎头云端招聘合作,为企业第一时间募集合适的ruby人才。</b>
  	</td>
	<td style='background-color:#f1ecec'>
		<%= image_tag("http://www.lieleme.com/assets/george_weixin.png", size:"100x100") %> 
	</td>
    </tr>
    <tr style=''>
	<td colspan='2' style='background-color:#d2caca;padding:20px'>
		Copyright © 2014-2015 Lieleme Corporation. All rights reserved.
 	</td>
    </tr>
  </table>
</div>
