<div align='center'>
  <table>
    <tr>
	    <td><%= link_to image_tag("http://www.lieleme.com/assets/logo_red.png"),"http://www.lieleme.com" %></td>
    </tr>
    <tr>
	    <td><%= link_to image_tag("http://www.lieleme.com/assets/Ruby_poster.jpg",size: "580x552"), "http://www.lieleme.com", target:"_blank" %></td>
    </tr>
  </table>
</div>
