<script>
  $(function() {

  

 });
  </script>
<div id="media-list"></div>

    <script>
        (function ($) {
              var xhr = new XMLHttpRequest();
    
    xhr.open('post','https://api.realtimecat.com/v0.2/sessions',true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.setRequestHeader("X-RTCAT-APIKEY","4d42369b-4c39-40d1-abec-75e7de12204b");
    xhr.setRequestHeader("X-RTCAT-SECRET","a478180b-2023-4f0f-8adb-a2e3806335ba");
    xhr.send("type=p2p");
    xhr.onload = function() {
      console.log("session_id="+JSON.parse(xhr.responseText).uuid);
      var session_id=JSON.parse(xhr.responseText).uuid;
      var params = "type=p2p&session_id="+session_id;
    
        xhr.open('post','https://api.realtimecat.com/v0.2/sessions/'+session_id+'/tokens',true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-RTCAT-APIKEY","4d42369b-4c39-40d1-abec-75e7de12204b");
        xhr.setRequestHeader("X-RTCAT-SECRET","a478180b-2023-4f0f-8adb-a2e3806335ba");
        xhr.send("type=pub");

        xhr.onload = function() {
            console.log("tokenId = "+xhr.responseText);
            
            // 声明变量
            var session;
            var localStream;
            var mediaList = document.querySelector('#media-list');

            /********************************
             *           工具函数
             ********************************/
            // 初始化流
            function initStream(options, callback) {
                localStream = new RTCat.Stream(options);
                localStream.on('access-accepted', function () {
                        session.send({stream: localStream, data: true});
                        callback(localStream);
                    }
                );
                localStream.on('access-failed', function (err) {
                    console.log(err);
                });

                localStream.on('play-error', function (err) {
                    console.log(err);
                });
                localStream.init();
            }

            // 显示流
            function displayStream(id, stream) {

                // Video container
                var videoContainer = document.createElement("div");
                videoContainer.setAttribute('style', "width: 300px; height:300px;");

                // Video player
                var videoPlayer = document.createElement('div');
                videoPlayer.setAttribute("id", "peer-" + id);

                videoContainer.appendChild(videoPlayer);
                mediaList.appendChild(videoContainer);

                stream.play("peer-" + id);
            }

            /**************************************
            *               建立会话
            ***************************************/

            // 使用token新建会话，请将此处的Token替换为
            // 从http://dashboard.shishimao.com/生成的Token
            session = new RTCat.Session(JSON.parse(xhr.responseText).uuid);

            session.connect();

            session.on('connected', function (users) {
                console.log('Session connected');
                initStream({video: true, audio: true, data: true}, function (stream) {
                    displayStream('self', stream)
                });
            });

            session.on('in', function (token) {
                if (localStream) {
                    session.sendTo({to: token, stream: localStream, data: true});
                }
                console.log('someone in');
            });

            session.on('out', function (token) {
                console.log('someone out');
            });

            session.on('remote', function (r_channel) {
                var id = r_channel.getId();
                r_channel.on('stream', function (stream) {
                    displayStream(id, stream);
                });
                r_channel.on('close', function () {
                    $('#peer-' + id).parent().remove();
                });
            });
    } 
    }        

        }).apply(this, [jQuery]);
    </script>

    <div style='padding-top:150px'>
  <div align="center" style="width:60%;margin:auto">
	  <h1 style="color:white">创建面试间与顾问一对一面试</h1> 
	  <%= link_to "开始" %>
  </div>
</div>
