<script>
  $(function() {
 });
  </script>
<div id="media-list"></div>
<script>

        (function ($) {
              var xhr = new XMLHttpRequest();
    
    xhr.open('post','https://api.realtimecat.com/v0.2/sessions',true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.setRequestHeader("X-RTCAT-APIKEY","4d42369b-4c39-40d1-abec-75e7de12204b");
    xhr.setRequestHeader("X-RTCAT-SECRET","a478180b-2023-4f0f-8adb-a2e3806335ba");
    xhr.send("type=p2p");
    xhr.onload = function() {
      console.log("session_id="+JSON.parse(xhr.responseText).uuid);
      var session_id=JSON.parse(xhr.responseText).uuid;

      document.getElementById("room_session_id").value = session_id;
    } 
       

        }).apply(this, [jQuery]);
    </script>

    <div style='padding-top:150px'>
  <div align="center" style="width:60%;margin:auto">
	  <h1 style="color:white">创建面试间与顾问一对一面试</h1> 
	  <%= form_for @room do |f| %>
	    <%= f.text_field :session_id, class: 'form-control' %>
	    <%= f.submit class: 'btn btn-default' %>
	  <% end %>
  </div>
</div>


