// application里面设置了body class的hunter可选项
.hunter {
.img-square {
  border-radius:3px;
  border:1px solid #aaaaaa;
  }
.focus-job {
  margin-right:5px;
  float:left;
  background-color: #f2f8f2;
  font-color: #4f947e;
  height: 20px;
  border:1px solid #d0b6a4;
  text-decoration: none;
  font-size: 10px;
  text-align:center;
  margin-bottom:5px;
  border-radius:3px;}
}
