// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.invitations {
.invite-btn {
	background-color: #9bca4a
  }
}
