// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jobs {
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  

  top: 0px;
  width: 300px;
  height: 100%;

}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
.img-circle {
  border:3px solid #ffffff;
  }
.padding_portrait{
  height: 20%;}
.padding_landscope{
  height: 5%;}

.portrait {
  height: 60%;
  width: 90%;}
.landscope {
  height: 90%;
  width: 70%;}

.comment-header{
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  font-size: 13px;
  color: #999999;
  padding-top:12px;
  padding-bottom:12px;
  }
// background-image:url(background-road.jpg);
#target {
}
#target img {
	max-height:100%;
	max-width:100%;
}
.btn-file {
	  position: relative;
	  overflow: hidden;
	  opacity:0;
	  z-index:1;
	}
.btn-file input[type=file] {
	  position: absolute;
	  top: 0;
	  right: 0;
	  min-width: 100%;
	  min-height: 100%;
	  font-size: 100px;
	  text-align: right;
	  filter: alpha(opacity=0);
	  outline: none;
	  background: white;
	  cursor: inherit;
	  display: block;
	   }
.transparent-btn {
  color: white;
  background-color: transparent;
  border: transparent;}
 
p{
    text-indent:0px;
    line-height:1.5;
    }
.faint {
	color: #aaaaaa;
  }
td.interval{
	padding-bottom: 5px}


.highlight {
  background-color: #3b5893;
  color: white}

// 橘色的按钮
.btn-orange {
  float:left;
  border-radius:2px;
  background-color: #ffeada;
  border:1px solid #d0b6a4;
  font-size:10px;
  padding:3px 3px 3px 3px;
  margin-right:3px;}
.hover {
  button {
	  visibility:hidden}
  }
// 服务评价按钮
.comment {
  background-color: white;
  border: 1px solid #62b1ee;
  border-radius: 3px;
  color:#62b1ee;
  }

// 设置绿色的小按钮
.btn-green {
  border:1px solid #d0b6a4;
  float:left;
  background-color: #f2f8f2;
  font-color: #4f947e;
  height: 20px;
  border:1px solid #d0b6a4;
  text-decoration: none;
  font-size: 10px;
  text-align:center;
  margin-bottom:5px;
  border-radius:3px;}

// 设置橘色的按钮
button.btn-orange {
  border-radius:2px;
  background-color: #ffeada;
  border:1px solid #d0b6a4;
  font-size:10px;
  padding:3px 3px 3px 3px;}


// 设置职位介绍title
p.green_title {
  color: #007722;
  font-size: 14px;}

// 设置文本缩进
p.text {
  padding-left: 25px;}

.no_underline a:link {
  text-decoration:none;}

.status-flag {
  border-radius:5px;
  background-color: #f89406;
  border:1px solid #d0b6a4;
  font-size:10px;
  color: #ffffff;
  padding:3px 3px 3px 3px;}
  
}
