// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search {
  background: linear-gradient(#fefefe,#d5dae9);// 设置背景颜色
.star img {
  width:10px;height:10px;}
//background: #e9eaed;

// 头像
.avatar-index {
  border-radius:50%;
  border:1px solid #eeeeee;
  }
  
}

