<div class='container' style='margin-top:100px'>
  <div class='col-lg-4 well'>
    <p id="notice"><%= notice %></p>

    <table>
      <tr>
	<td><strong>Mobile:</strong></td>
	<td><%= @line_item.mobile %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
	<td><%= @line_item.email %></td>
      </tr>
      <tr>
	<td><strong>Name:</strong></td>
	<td><%= @line_item.name %></td>
      </tr>
    </table>
    <p>
      <strong>请您继续关注他的后续进展,祝您早日成单!</strong>
    </p>
  </div>
</div>


