<p style='padding-top:80px' id="notice"><%= notice %></p>


    <p>
      <strong>Mobile:</strong>
      <%= @line_item.mobile %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @line_item.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @line_item.name %>
    </p>




