// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
.table td{
height: 45px;}
.img-circle{
	border-radius:50%;
	border: 2px solid white;}
.img-circle:hover {
  transition: ease-out 0.3s;
  }
}
