// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jobs {
// 隐藏服务评价按钮
.hover {
  button {
	  visibility:hidden}
  }
// 服务评价按钮
.comment {
  background-color: white;
  border: 1px solid #62b1ee;
  border-radius: 3px;
  color:#62b1ee;
  }

// 设置绿色的小按钮
div#green_button a:link{
  border:1px solid #d0b6a4;
  float:left;
  background-color: #f2f8f2;
  font-color: #4f947e;
  height: 20px;
  width: 40px;
  border:1px solid #d0b6a4;
  text-decoration: none;
  font-size: 10px;
  text-align:center;
  margin-bottom:5px;
  border-radius:3px;}

// 设置橘色的按钮
button.btn-orange {
  border-radius:2px;
  background-color: #ffeada;
  border:1px solid #d0b6a4;
  font-size:10px;
  padding:3px 3px 3px 3px;}


// 设置职位介绍title
p.green_title {
  color: #007722;
  font-size: 14px;}

// 设置文本缩进
p.text {
  text-indent: 25px;}

.no_underline a:link {
  text-decoration:none;}

.status-flag {
  border-radius:5px;
  background-color: #f89406;
  border:1px solid #d0b6a4;
  font-size:10px;
  color: #ffffff;
  padding:3px 3px 3px 3px;}
  
}
