<div class="modal fade bs-example-modal-sm" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">搜素提示</h4>
        </div>
      	<div class="modal-body">
      	  <div class="container-fluid">
      	    <div class="row">
      	      <div class="col-lg-3"><span style='color:#aaaaaa'>职位:</span></div>
      	      <div class='col-lg-9'>
      	      	<table>
      	      	  <tr><td>Java工程师&nbsp;&nbsp;5<span style='color:#aaaaaa'>(5年以上经验)</span></td></tr>
      	      	  <tr><td>Java工程师&nbsp;&nbsp;数据库<span style='color:#aaaaaa'>(职位+技能)</span></td></tr>
      	      	  <tr><td>Java工程师&nbsp;&nbsp;上海</td></tr>
      	      	</table>
      	      </div>
      	    </div>
      	    <div class='row'>
      	      <div class='col-lg-3'><span style='color:#aaaaaa'>人才:</span></div>
      	      <div class='col-lg-9'>
      	      	<table>
      	      	  <tr><td>生产制造&nbsp;&nbsp;采购经理&nbsp;&nbsp;<span style='color:#aaaaaa'>(行业+职位)</span></td></tr>
      	      	</table>
      	      </div>
			      </div>
			      <div class='row'>
			        <div class='col-lg-3'><span style='color:#aaaaaa'>猎头:</span></div>
      	      <div class='col-lg-9'>采购<span style='color:#aaaaaa'>(猎头方向)</span></div>
	  		    </div>

		      </div>
      	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->